@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@300&display=swap');

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #F1F1F1;
    font-family: 'Roboto';
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
    border: 1px solid;
    padding: 50px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 0 0 #DEDEDE;
}

h1 {
    margin: 0 0 -10px 0;
}

button, input {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    margin: 10px 0 10px 0;
}

input {
    left: 5px;
    border: 1px solid black;
}

#download {
    background-color: black;
    color: white;
    border: none;
}

#download:hover {
    background-color: #F1F1F1;
    border: 1px solid black;
    color: black
}

a {
    text-decoration: none;
    color: #4067F3;
}



/* Checkbox styling BELOW */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.2rem;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 2px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: black;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}