

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #85AFF2;
    font-family: Verdana;
}

h1 {
    font-size: 25px;
    margin-left: 15px;
    font-family: Open;
}

.container { 
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 15px;
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: -15px -15px 0 0 #9FBDF4;
}


.top-div {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
}

/* active-color: #83A4F3 */
.time-div {
    background-color: #EFF0FF;
    padding: 14px 5px;
    border-radius: 25px;
    margin: 15px 0;
}

.frequency input {
    display: none;
}

.frequency span {
    padding: 10px;
    border-radius: 20px;
}

input:checked + span {
    background-color: #83A4F3;
    color: white;
}